@import "tailwindcss";

:root {
  --background: #181111;
  --foreground: #fff8f0;
  --accent: #ff2d20;
  --accent2: #d7263d;
  --accent3: #ff9800;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.button-accent {
  background: var(--accent);
  color: #fff;
}
.button-accent2 {
  background: var(--accent2);
  color: #fff;
}
.button-accent3 {
  background: var(--accent3);
  color: #fff;
}

a {
  transition: color 0.2s;
}

a:hover {
  color: var(--accent);
}
